/* https://bootstrapcreative.com/can-adjust-text-size-bootstrap-responsive-design/
  
  .navbar {
    margin-bottom: 20px;
  } */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, h5, h6,p, li{
font-family: 'Quicksand', sans-serif;
}

header{
    background: linear-gradient(to right, rgba(45, 18, 3, 0.521),
     rgba(42, 26, 3, 0.331), rgba(10, 40, 15, 0.418)), 
    url('/static/images/humans/group-yoga-stretch.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: bottom center;
}


#page-static-bg {
    background-image: url('static/images/filler/breathe-tim-goedhart-un.jpg'); 
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
}

.jumbotron-bg {
    /* linear-gradient(rgba(4, 3, 3, 0.5), rgba(36, 13, 28, 0.5)) */
    background: linear-gradient(rgba(230, 100, 100, 0.2), rgba(145, 152, 229, 0.5)), 
    url('static/graphics/meditate_3613x1338-p-1600.png');
    height: 43vh;
    /* width: 100vw; */
    background-repeat: no-repeat; 
    background-size: cover;  
    background-position: center;
}
.jumbotron-bg h1{
    font-size: 8vw;
}

/* @media (max-width: 768px) {
    .jumbotron-bg h1 {
      font-size: 5vw;
    }
} */



#page-rarara-bg {
    background-image: url('static/images/filler/pink-lotus.jpg'); 
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
}
  
.overlay {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(163, 119, 170, 0.237);
    opacity: 0.5;
}
  
body{
    padding-top: 71px;
}

.navbar{
    position: sticky;
    top:0;
}



header h1{
font-size: 6rem;
}
header p{
    font-size: 1.4rem;
}
header .btn{
    font-family: 'Quicksand', sans-serif;
}


/* about */

.about-content{
    padding-right: 100px;
}

.card .btn{
    font-family: 'Quicksand', sans-serif;
}

/* projects */

.project-content-pl{
    padding-left: 100px;
}
.project-content-pr{
    padding-right: 100px;
}

@media(max-width: 992px){
    .project-content-pl{
        padding-left: 0;
    }
    .project-content-pr{
        padding-left: 0;
    }
}

/* for  smaller screens */
@media(max-width: 992px){
    header{
        background: linear-gradient(to right, rgba(5, 3, 45, 0.8),
         rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), 
        url('/static/images/studio/nyc-studio-mats-view.jpg') no-repeat;
        background-size: cover;
        background-position: top;
    }

    .about-content{
        padding-right:0;
        padding-bottom: 50px;
    }
}

/* smol */
@media(max-width: 768px){
    header h1{
        font-size: 4rem;
    }
    header p{
        font-size: calc(1rem + 0.4vw)
    }
}


.divider{
    align-items:center;
    background: linear-gradient(90deg,#094055,#8b974d);
    border-top: 1px solid #e2e2e2;
    display: flex;
}




.btn-login {
font-size: 0.9rem;
letter-spacing: 0.05rem;
padding: 0.75rem 1rem;
}

.btn-google {
    color: white !important;
    background-color: #ea4335 !important;
 }
  
.btn-facebook {
    color: white !important;
    background-color: #3b5998 !important;
}

.btn-custom {
background-color: #86a1de !important;
color: rgb(172, 54, 54) !important;
}

#signin-container{
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    background: url('/static/images/studio/StudioPP.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 99% !important;
}

.signup-container{
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    background: url('/static/images/studio/studio-brickwall-gry.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}


.signup-section .form-signup input {
    padding: 1.25rem 2rem;
    height: auto;
    font-size: 80%;
    letter-spacing: 0.15rem;

}

.connect-section {
    padding: 10rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url("/static/images/teacups.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}